@import '../../../styles/utils';

.template {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: #f8fafd;
    margin-bottom: 0.5em !important;
    width: 100% !important;

    button {
        border-radius: 0;
    }

    .template-header {
        flex: 0.3;
        padding: 0 !important;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .template-body {
        flex: 0.7;
        padding: 10px;
    }

    .template-footer {
        text-align: right;
        .button {
            margin: 1em;
        }
    }
}