
@import '../../styles/utils';

.container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: #f8fafd;
    margin-bottom: 15px;
    width: 100% !important;

    button {
        border-radius: 0;
    }

    .title {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .content {
        // flex:1;
        padding: 10px;
        // width: 100% !important;

        .content-header {
            display: flex;
            // flex-direction: row;
        }

        .content-body {
            display: flex;
            margin-bottom: 10px;
            align-items: center;
        }
    }

    .content-align-top {
        align-self: flex-start;
    }

    .content-align-bottom {
        align-self: flex-end;
    }

    .content-align-left {
        align-self: flex-start;
    }

    .content-align-right {
        align-self: end;
    }

    &:hover {
        border-color: $base-color + #444444;
        border-width: 1px;
        border-style: solid;
    }
}