
@import './color';
@import './layout';

.show {
    display: black;
}

.hide {
    display: none;
}

.card {

    &:hover {
        background-color: 'linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, ' +
        'rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%)'
    }
}
.image-gallery {
    width: 85%;
}
.image-gallery-slide img {
    // width: 80%;
    height: 420px;
}