.footer {
    position: fixed;
    
    // border-top: 1px solid lightgrey;
    bottom: 0px;
    left: 0px;
    right: 0px;
    // height: 60px;
    width: 100%;
    background-color: lightblue;
    padding: 10px;
    margin-top: 10px;
}