.verify-email-wrapper {
    position: relative;
    margin: 0.8rem;
    // width: 35%;
    // left: 35%;
    text-align: center;
    // background-color: #F7F7F7;
    padding: 1rem;
    border-radius: 0.5rem;


    .verify-email-header {
        font-size: 2rem;
    }

    .verify-email-body {
        font-size: 1rem;
        padding: 0.5rem;
        
    }

    .verify-email-footer {
        font-size: 1rem;
    }

    .icon-wrapper {
    }

    .icon {
        color: #46BEFF;
        width: 5rem;
        height: 5rem;
    }
}