
.preview-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.preview {
    width: '20%';
    height: auto;
    border: 1px solid black;
    box-sizing: border-box;
}

.preview-inner {
    display: display;
    overflow: hidden;
    min-width: 0;
}